@using Naif.Blog.Models

@model Menu

<ul class="@Model.CssClass">
	@{
		foreach (var menuItem in Model.Items)
		{
			if (menuItem.IsActive)
			{
				<li class="nav-item"><a class="nav-link @Model.IsActiveCssClass" href="#">@menuItem.Text</a></li>
			}
			else
			{
				string href;
				if (string.IsNullOrEmpty(menuItem.Link))
				{
					href = $"/{menuItem.Controller}/";
					if (!string.IsNullOrEmpty(menuItem.Action))
					{
						href += $"{menuItem.Action}/";
					}
				}
				else
				{
					href = menuItem.Link;
				}
				
				<li class="nav-item"><a class="nav-link" href="@href">@menuItem.Text</a></li>
			}
		}
	}
</ul>
