@using Naif.Blog.Models
@using Naif.Blog.ViewModels

@model BlogViewModel

@{
    string controllerName = ViewContext.ActionDescriptor.RouteValues["controller"];

    var menu = new Menu
    {
        CssClass = "nav nav-pills nav-stacked",
        IsActiveCssClass = "active",
        Items = new List<MenuItem>
        {
            new MenuItem
            {
                Controller = "Admin",
                Action = "",
                IsActive = (controllerName == "Admin"),
                Text = "Home"
            },
            new MenuItem
            {
                Controller = "Page",
                Action = "List",
                IsActive = (controllerName == "Page"),
                Text = "Pages"
            },
            new MenuItem
            {
                Controller = "Post",
                Action = "List",
                IsActive = (controllerName == "Post"),
                Text = "Posts"
            }
        }
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Model.Blog.Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css"/>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    </environment>
    <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css"/>
    <script type="text/javascript" src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" href="~/themes/default/default.css"/>
    <script type="text/javascript" src="~/lib/ckeditor/ckeditor.js"></script>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Post" asp-action="Index" class="navbar-brand">@Model.Blog.Title</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-controller="Post" asp-action="Index">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Profile">Hello @User.Identity.Name!</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1>
                @Model.Blog.Title<br/>
                <small>@Model.Blog.ByLine</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="leftPane" class="col-md-3">
            <h2>Menu</h2>
            <vc:menu menu="@menu"></vc:menu>
        </div>
        <div id="mainPane" class="col-md-9">
            @RenderBody()
        </div>
    </div>
    <hr/>
    <footer>
        <vc:copyright></vc:copyright>
    </footer>
</div>
</body>
</html>