@using Naif.Blog.ViewModels

@model BlogViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Blog.Title</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jqcloud/jqcloud.min.css" />
    <link rel="stylesheet" href="~/themes/default/default.css" />
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jqcloud/jqcloud.min.js"></script>
    <link href="~/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Post" asp-action="Index" class="navbar-brand">@Model.Blog.Title</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-controller="Post" asp-action="Index">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Profile">@User.Identity.Name</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1>
                @Model.Blog.Title<br/>
                <small>@Model.Blog.ByLine</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="mainPane" class="col-md-8">
            @RenderBody()
        </div>
        <div id="sidePane" class="col-md-4">
            <vc:disclaimer></vc:disclaimer>
            <vc:category-list></vc:category-list>
            <vc:tag-cloud></vc:tag-cloud>
        </div>
    </div>
    <hr/>
    <footer>
        <vc:copyright></vc:copyright>
    </footer>
</div>
</body>
</html>