@using Naif.Blog.ViewModels
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model BlogViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Blog.Title</title>

    <vc:client-dependency></vc:client-dependency>

    <link rel="stylesheet" href="~/themes/default/default.css" />
    <link href="~/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">    
    <div class="container">
        <a class="navbar-brand" asp-controller="Post" asp-action="Index">@Model.Blog.Title</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarMenu">
            <vc:navigation parent="0"></vc:navigation>
            <ul class="navbar-nav justify-content-end">
                @if (User.Identity.IsAuthenticated)
                {
                    if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                    {
                        <li class="nav-item"><a asp-controller="Admin" asp-action="Index" class="nav-link">Admin</a></li>
                    }
                    <li class="nav-item"><a asp-controller="Account" asp-action="Profile" class="nav-link">@User.Identity.Name</a></li>
                    <li class="nav-item"><a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h1>
                @Model.Blog.Title<br/>
                <small>@Model.Blog.ByLine</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="mainPane" class="col-md-8">
            @RenderBody()
        </div>
        <div id="sidePane" class="col-md-4">
            <vc:disclaimer></vc:disclaimer>
            <vc:category-list></vc:category-list>
            <vc:tag-cloud></vc:tag-cloud>
        </div>
    </div>
    <hr/>
    <footer>
        <vc:copyright></vc:copyright>
    </footer>
</div>
</body>
</html>