@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Naif.Blog.Models;

@model PostBase

@{
    var post = Model as Post;
    var returnUrl = $"/post/index";
    if (ViewBag.PageIndex > 0)
    {
        returnUrl += $"/?page={ViewBag.PageIndex}";
    }
    var link = $"/post/{post.Slug}";
}

<article class="excerpt">
    <header>
        <div class="row">
            <div class="col-md-10">
                <h3><a href="@link">@post.Title</a></h3>
            </div>
            <div class="col-md-2">
                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdminRole")).Succeeded)
                {
                    <a asp-controller="Post" asp-action="EditPost" asp-route-id="@post.PostId" asp-route-returnUrl="@returnUrl">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                }
            </div>
        </div>
    </header>
    <section>
        @Html.Raw(post.Excerpt)
    </section>
    <div class="info">
        <div class="date">
            <span class="month">@post.PubDate.ToString("MMM")</span>
            <span class="day">@post.PubDate.Day</span>
            <span class="year">@post.PubDate.Year</span>
        </div>
        <div style="clear:both"></div>
    </div>
</article>
<hr/>
